.Main {
    padding-left: 480px;
    padding-top: 180px;
    background-color: aliceblue;
}

.form-control {
    font-size: medium;
    padding-left: 10px;
}

.form-data {
    font-size: medium;
}

h4 {
    padding-left: 62px;
    font-size: large;
}

.cont {
    background-color: aliceblue;
}

.Last {
    background-color: aliceblue;
    padding: 100px;
}

button.btn.btn-primary {
    padding-left: 5px;
    width: 211px;
    height: 26px;
}

input.form.-control {
    padding-left: 41px;
}